<div class="jumbotron">
<div class="row">
  <div class="col col-md-12">
    <h1> Quotes </h1>
    <p id="fqote">Don't make it a drama, all the problems you may have someone has already lived them and came up with a solution for them!</p>
  </div>
</div>

<div class="row">
  <div class="col col-md-3">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="col col-md-8">
    <ul>
      <div *ngFor='let quote of quotes'>
        <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
      </div>
    </ul>

  </div>

</div>


  <div class="container">
    <div class="row">
      <div class="col-md-04">
      </div>
      <div class="col-md-08">
      </div>
    </div>

  </div>
</div> -->
