<div class="container-fluid">
  <div class="row">

    <form (ngSubmit)='submitQuote()' #qouteForm='ngForm'>
      <div class="form-group">

        <label for="name">Name </label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name='name' #name="ngModel" required>

      </div>
      <div class="form-group">

        <label for="author">Author</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name='author' #author="ngModel">

      </div>
      <div class="form-group">

        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name='description' #description="ngModel" required></textarea>
        
      </div>
      <br>
      <button type="Submit" class="btn btn-success btn-block">Submit Quote</button>
      <br>
    </form>

  </div>
</div>

<!-- <p>Name: {{newQuote.name}}</p>
<p>Author: {{newQuote.author}}</p>
<p>Quote: {{newQuote.description}}</p> -->
